

    <div class='timeline-intro slide-1'>                
        <div class='intro-copy'>
            <p class='para-heading'>The Anti-vaccine chronicles</p>
            {{#each doc.intro-1}}
                <p>{{{value}}}</p>
            {{/each}}
        </div>

    </div>
    <div class='timeline-intro slide-2 hidden'>     
        <div class='intro-copy'>
            {{#each doc.intro-2}}
                <p>{{{value}}}</p>
            {{/each}}
        </div>                                
    </div>
    <div class='timeline-intro slide-3 hidden'>     
    <div class='intro-copy'>
        {{#each doc.intro-3}}
            <p>{{{value}}}</p>
        {{/each}}
    </div>

</div>

<div class='intro'>


    <div class='cover-container'>
        <div class='arrow-cover'>
          <div class='pulse-circle'></div>
          <div class='button-circle'>
            <img inline src='arrow-right.svg'>
          </div>
        </div>
        <div class='cover-left'>
          <div class='title-wrap'>
            <img inline src='science-etc.svg'>
          </div>
        </div>
        <div class='cover-right'>
          <div class='details'>
            <a href='https://pudding.cool/'><img inline src='pudding/wordmark.svg'></a>
            <p>{{{doc.about}}}</p>
            <div class='weeks'>
              <a href='https://pudding.cool/2019/05/science_etc_1/'>
                <div class='week week-previous'>
                  <p class='date-week-1'>Part 1</p>
                  <p class='topic'>Reproducibility</p>
                </div>
              </a>
            <div class='week week-current'>
                <p class='date-week-2'>Part 2</p>
                <p class='topic'>Vaccines</p>
              </div>
              <div class='author-box'>
                    <p class='author-para'>By
                    <a href='{{meta.author.url}}' target='_blank'>
                        <strong>{{meta.author.name}}</strong>
                    </a>
                </p>
              </div>
            </div>
          </div>
        </div>



    </div>



</div>

{{> story/navbar }}
